nav{
    width: 100%;
    height: 80px;
    padding-right: 10%;
    background: rgba(0,0,0,0);
    padding-left: 5%;
}



header{
    width: 100%;
    height: 840px;
    background-size: cover;
    background-image: url("../assets/3215054.jpg");
    background-color: lightgray;
}

header h1{
    width: 50%;
    padding-top: 10px;
    padding-left: 10%;
    font-weight: 600;
}

header h3{
    padding-left: 10%;
}


.logo{
    width: 10%;
    height: 50px;
    float: left;
    color: #ffffff;
    padding-top: 20px;
}

.nav-con{
    width: 50%;
    height: 25px;
    float: left;
    margin-top: 25px;
}
    
.nav-con ul{
    list-style: none;
}
    
.nav-con li{
    float: left;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    font-weight: bold;
}
    
.nav-con li:hover{
    cursor: pointer;
}
.active{
    font: bold !important;
}

.search-bar{
    width: 225px;
    height: 30px;
    padding-left: 20px;
    float: right;
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 20px;
    border: solid #00c3ff;
    color: #ffffff;
}

.half{
    height: 370px;
    margin-right: 125px;
    margin-left: 125px;
    margin-top: 50px;
}

.text{
    padding-left: 145px;
    padding-top: 85px;
}

.col-6{
    width: 48%;
    height: 300px;
    text-align:left;
    float: left;
    margin: 1%;
    margin-top: -50px;
}

.thumbnail13{
    width: 470px;
    height: 470px;
    background-image: url("../assets/1600w-fxYFTKLArdY.jpg");
    background-position: center;
    background-size: cover;
}

.content1{
    width: 277px;
    height: 277px;
    padding-top: 115px;
    text-align: center;
    color: white;
    margin: 0 auto;
    font-family: sans-serif;
}

form{
    width: 80%;
    height: 555px;
    margin: 0 auto;
    background-color: lightgray;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 40px;
    margin-right: 122px;
}

.input-el{
    width: 95%;
    background-color: #2b2b2b;
    color: white;
    height: 60px;
    margin-top: 25px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
}

select{
    width: 95% !important;
}

.button-contact{
    width: 35%;
    background-color: #2b2b2b;
    color: white;
    height: 35px;
    margin-top: 25px;
    margin-right: 20px;
    float: right;
    padding-left: 5px;
    border-radius: 20px;
}

.Button-info{
    width: 225px;
    height: 50px;
    float: left;
    padding-top: 15px;
    margin-right: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.Button-one{
    width: 225px;
    height: 60px;
    float: left;
    border-radius: 35px;
    padding-top: 15px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10px;
    text-align: center;
    border: solid black;
    color: rgb(255, 255, 255);
}

.Button-one:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
}


.Button-two{
    width: 225px;
    height: 60px;
    float: left;
    border-radius: 35px;
    padding-top: 15px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    border: solid black;
    color: rgb(255, 255, 255);
}

.Button-two:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.Button-three{
    width: 70px;
    height: 60px;
    float: left;
    border-radius: 50%;
    background-image: url("../assets/heart\ white.png");
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    margin-left: 25px;
    text-align: center;
    border: solid black;
}

.Button-three:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.nav-text{
    padding-top: 150px;
    color: white;
}

.Button-next{
    width: 70px;
    height: 60px;
    float: right;
    border-radius: 50%;
    background-image: url("../assets/arrow\ \(2\).png");
    background-size: cover;
    background-position: center;
    margin-top: 210px;
    margin-right: 20px;
    border: solid black;
}

.Button-back{
    width: 70px;
    height: 60px;
    float: right;
    border-radius: 50%;
    background-image: url("../assets/arrow\ \(3\).png");
    background-size: cover;
    background-position: center;
    margin-top: 210px;
    margin-right: 20px;
    border: solid black;
}

.Button-next:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.Button-back:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.col-box{
    width: 90%;
    height: 400px;

    margin-left: 200px;
    margin-top: -25px;
}


.overlay{
    width: 45%;
    height: 570px;
    background-color: rgba(161, 161, 161, 0.6);
    text-align: left;
    margin: 0 auto;
    padding-left: 75px;
    padding-top: 50px;
    margin-top: -50px;
    color: #000000;
}

.content{
    width: 277px;
    height: 72px;
    background-color: #00c3ff;
    margin-top: 50px;
    text-align: left;
    color: white;
    padding-left: 25px;
    font-family: sans-serif;
}

.overlay2{
    width: 277px;
    height: 277px;
    background-color: rgba(46, 79, 85, 0.5);
    opacity: 0;
    padding-top: 95px;
}

.overlay2:hover{
    cursor: pointer;
    opacity: 1;
}

.overlay3{
    width: 470px;
    height: 470px;
    background-color: rgba(46, 79, 85, 0.5);
    opacity: 0;
    padding-top: 95px;
}

.overlay3:hover{
    cursor: pointer;
    opacity: 1;
}

.icon{
    width: 60px;
    height: 60px;
    background-color: #00c3ff;
    background-image: url("../assets/play-button\ \(1\).png");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin: 0 auto;
}

.playlist-btn{
    width: 50px;
    height: 50px;
    margin-left: 110px;
    margin-top: 95px;
    border-radius: 50%;
    text-align: center;
    border: solid 5px white;
    color: rgb(0, 0, 0);
}

.four{
    height: 320px;
    margin-right: 40px;
    margin-left: 40px;
}

.four h2{
    padding-left: 60px;
}

.col-3{
    width: 23%;
    height: 277px;
    text-align: center;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    float: left;
    margin: 1%;
}

.thumbnail{
    width: 277px;
    height: 277px;
    background-image: url("../assets/500x500.jpg");
    background-position: center;
    background-size: cover;
}

.thumbnail2{
    width: 277px;
    height: 277px;
    background-image: url("../assets/ab67616d0000b27368968350c2550e36d96344ee.jpg");
    background-position: center;
    background-size: cover;
}

.thumbnail3{
    width: 277px;
    height: 277px;
    background-image: url("../assets/artworks-Mj9zxzlEAKrC-0-t240x240.jpg");
    background-position: center;
    background-size: cover;
}

.thumbnail4{
    width: 277px;
    height: 277px;
    background-image: url("../assets/500x500\ \(1\).jpg");
    background-position: center;
    background-size: cover;
}

.thumbnail5{
    width: 277px;
    height: 277px;
    background-image: url("../assets/ab67616d0000b2734d676cc7b2130b8227f8d94b.jpg");
    background-position: center;
    background-size: cover;
}

.thumbnail6{
    width: 277px;
    height: 277px;
    background-image: url("../assets/The_Killers_-_Hot_Fuss.png");
    background-position: center;
    background-size: cover;
}

.thumbnail7{
    width: 277px;
    height: 277px;
    background-image: url("../assets/500x500\ \(2\).jpg");
    background-position: center;
    background-size: cover;
}

.thumbnail8{
    width: 277px;
    height: 277px;
    background-image: url("../assets/Lil_Nas_X_-_Holiday.png");
    background-position: center;
    background-size: cover;
}

.thumbnail9{
    width: 277px;
    height: 277px;
    background-image: url("../assets/350x350.jpg");
    background-position: center;
    background-size: cover;
}

.thumbnail10{
    width: 277px;
    height: 277px;
    background-image: url("../assets/500x500\ \(3\).jpg");
    background-position: center;
    background-size: cover;
}

.thumbnail11{
    width: 277px;
    height: 277px;
    background-image: url("../assets/1200x1200bf-60.jpg");
    background-position: center;
    background-size: cover;
}

.thumbnail12{
    width: 277px;
    height: 277px;
    background-image: url("../assets/264x264.jpg");
    background-position: center;
    background-size: cover;
}

.artist{
    width: 70px;
    height: 20px;
    float: left;
}



.Mix{
    width: 100%;
    height: 25px;
    float: left;
    margin-top: 25px;
}

.Mix ul{
    list-style: none;
}


.Mix li{
    float: left;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
    font-weight: bold;
}

.col-4{
    width: 30%;
    height: 25px;
    margin: 1%;
    float: left;
    padding-left: 150px;
    margin-bottom: 100px;
}

.track1{
    width: 50%;
    height: 25px;
    float: left;

}

.track2{
    width: 100%;
    height: 25px;
    float: left;
}

.Button-prev{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    margin-top: 25px;
    margin-right: 30px;
    background-image: url("../assets/rewind.png");
    background-size: cover;
    padding-bottom: 45px;
    border: solid black;
    float: left;
}

.Button-pause{
    width: 100px;
    height: 100px;
    background-image: url("../assets/786279.png");
    background-size: cover;
    border-radius: 50%;
    border: solid rgb(255, 0, 0);
    float: left;
}

.Button-forward{
    width: 50px;
    height: 45px;
    margin-top: 25px;
    margin-left: 30px;
    background-image: url("../assets/rewind-1767869-1502122.webp");
    background-size: cover;
    border-radius: 50%;
    padding-bottom: 45px;
    border: solid black;
    float: left;
}

.Button-options{
    width: 50px;
    height: 48px;
    border-radius: 50%;
    background-image: url("../assets/me");
    background-size: cover;
    border: solid black;
    float: right;
    margin-bottom: 45px;

}

.track3{
    width: 50%;
    height: 25px;
    float: left;
}

.line-element{
    width: 100%;
    height: 50px;
    margin-top: 270px;
    padding-left: 122px;  
    padding-right: 122px;
}

.line{
    width: 100%;
    height: 5px;
    background-color: lightgray
}

.line-fill{
    width: 50%;
    height: 5px;
    background-color: #2b2b2b;
}

.marker{
    width: 30px;
    height: 30px;
    background-color: #2b2b2b;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: -18px;
}

footer{
    width: 98%;
    height: 100px;
    background-color: #ffffff;
    padding-top: 15px;
    margin-top: 100px;
    color: #000000;
    margin-left: 30px;
}

