nav{
    width: 100%;
    height: 80px;
    padding-left: 50px;
    padding-right: 10%;
    background: rgba(0,0,0,0);
}



header{
    width: 100%;
    height: 840px;
    background-size: cover;
    background-image: url("../assets/logic_no_pressure_home_cover_image.png");
    background-color: lightgray;
    padding-left: 10%;
    padding-top: 150px;
}

header h1{
    width: 50%;
    padding-top: 10px;
    font-weight: 600;
}


.logo{
    width: 10%;
    height: 50px;
    float: left;
    color: #000000;
    padding-top: 20px;
}

.nav-con{
    width: 50%;
    height: 25px;
    float: left;
    margin-top: 25px;
}
    
.nav-con ul{
    list-style: none;
}
    
.nav-con li{
    float: left;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
    font-weight: bold;
}
    
.nav-con li:hover{
    cursor: pointer;
}
.active{
    font: bold !important;
}

.search-bar{
    width: 225px;
    height: 30px;
    padding-left: 20px;
    float: right;
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: solid #000000;
    color: #000000;
}

.half{
    height: 370px;
    margin-right: 125px;
    margin-left: 125px;
    margin-top: 175px;
}

.col-6{
    width: 48%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    text-align:left;
    float: left;
    margin: 1%;
}
.col-box2{
    width: 470px;
    height: 470px;
    background-color: lightgray;
    color: white;
    text-align:center;
    padding-top:175px;
    margin: 1%;
}
.col-box2 h1{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

form{
    width: 80%;
    height: 555px;
    margin: 0 auto;
    background-color: lightgray;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 40px;
    margin-right: 122px;
}

.input-el{
    width: 95%;
    background-color: #2b2b2b;
    color: white;
    height: 60px;
    margin-top: 25px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
}

select{
    width: 95% !important;
}

.button-contact{
    width: 35%;
    background-color: #2b2b2b;
    color: white;
    height: 35px;
    margin-top: 25px;
    margin-right: 20px;
    float: right;
    padding-left: 5px;
    border-radius: 20px;
}

.Button-info{
    width: 225px;
    height: 50px;
    float: left;
    padding-top: 15px;
    margin-right: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.Button-one{
    width: 225px;
    height: 60px;
    float: left;
    border-radius: 35px;
    padding-top: 15px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.Button-one:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(0, 0, 0);
}


.Button-two{
    width: 225px;
    height: 60px;
    float: left;
    border-radius: 35px;
    padding-top: 15px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    border: solid black;
    color: rgb(0, 0, 0);
}

.Button-two:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.Button-three{
    width: 70px;
    height: 60px;
    float: left;
    border-radius: 50%;
    padding-top: 15px;
    margin-top: 10px;
    margin-left: 25px;
    text-align: center;
    border: solid black;
    color: rgb(0, 0, 0);
}

.Button-three:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.Button-next{
    width: 70px;
    height: 60px;
    float: right;
    border-radius: 50%;
    margin-top: 240px;
    margin-right: 20px;
    text-align: center;
    border: solid black;
    color: rgb(0, 0, 0);
}

.Button-next:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.col-box{
    width: 90%;
    height: 400px;
    background-color: #5a5a5a;
    margin-left: 200px;
}


.overlay{
    width: 45%;
    height: 570px;
    background-color: rgba(161, 161, 161, 0.6);
    text-align: left;
    margin: 0 auto;
    padding-left: 75px;
    color: #000000;
}

.overlay2{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: left;
    margin-top: 67px;
    color: #ffffff;
    padding-left: 10px;
    padding-top: 8px;
}

.play-btn{
    width: 70px;
    height: 60px;
    margin-left: 125px;
    margin-top: 80px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    color: rgb(0, 0, 0);
}

.playlist-btn{
    width: 70px;
    height: 60px;
    margin-left: 200px;
    margin-top: 85px;
    border-radius: 50%;
    text-align: center;
    border: solid 5px white;
    color: rgb(0, 0, 0);
}

.four{
    height: 320px;
    margin-right: 40px;
    margin-left: 40px;
}

.col-3{
    width: 23%;
    height: 277px;
    background-color: rgb(187, 187, 187);
    text-align: center;
    color: white;
    float: left;
    margin: 1%;
}

.Mix{
    width: 100%;
    height: 25px;
    float: left;
    margin-top: 25px;
}

.Mix ul{
    list-style: none;
}


.Mix li{
    float: left;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
    font-weight: bold;
}

footer{
    width: 98%;
    height: 100px;
    background-color: #ffffff;
    padding-top: 15px;
    margin-top: 100px;
    color: #000000;
    margin-left: 30px;
}

